@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding:0;
  text-decoration: none;   
  font-family: 'Poppins', sans-serif;
  animation: fade-in 0.5s;
}

@keyframes fade-in{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

body{
overflow-x: hidden;
}


/* Header */
header {
  background-color: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(10px);
  padding: 20px 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  height: 60px;
  width:auto;
  font-weight: bold;
  color: #000000;
}

nav ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul.menu li {
  margin-left: 50px;
}

nav ul.menu li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul.menu li a:hover {
  color: #555555;
}

/* UG programmes */

#programmes{
  list-style: none;
  margin-top: 20px;
  text-transform: uppercase;
}

#programmes h2{
  text-align: center;
}


#pro-container{
  text-align: center;
  display: flex;
  flex-wrap:wrap;
  width:70vw;
  justify-content:space-around;
  margin: 30px auto 0 auto;
}

#pro-container div{
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out; 
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 30px;
}


#pro-container div:hover {
  box-shadow: 16px 16px 0px rgba(0, 0, 0, 0.3);
}




/* mid */

#research-holder{
  text-align: center;
  width:90vw;
  margin: 50px auto 50px auto;
  
}

#research-holder div{
  justify-content:center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}

#research-topics{
  margin: 15px auto;
}

/* Footer */ 
footer {
  background-color: #232323;
  color: #ffffff;
  padding: 50px 0 15px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  max-width: 300px;
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-section p {
  margin-bottom: 10px;
}

.social-icons a {
  color: #ffffff;
  font-size: 24px;
  margin-right: 20px;
}

.bottomline {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
}

.bottomline p {
  margin: 0;
}

/* Newsletter Form */
form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

form button {
  background-color: #ffffff;
  color: #232323;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #dddddd;
}

