@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding:0;
  text-decoration: none;   
  font-family: 'Poppins', sans-serif;  
  animation: fade-in 0.5s;
}

@keyframes fade-in{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

/* Header */
header {
  background-color: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(10px);
  padding: 20px 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  height: 60px;
  width:auto;
  font-weight: bold;
  color: #000000;
}

nav ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul.menu li {
  margin-left: 50px;
}

nav ul.menu li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul.menu li a:hover {
  color: #555555;
}


/* tree */
.container{
  margin: 5vh 0 5vh 0 ;
}

.tree {
	width: 100%;
	height: auto;
	text-align: center; 
  scroll-behavior: smooth; 
}

.tree ul {
	padding-top: 20px;
	position: relative;
	transition: .2s;
}
.tree li {
	display: inline-table;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 10px;
	transition: .2s;
}
.tree li::before, .tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 3px solid #ccc;
	width: 51%;
	height: 10px;
}
.tree li::after {
	right: auto;
	left: 50%;
	border-left: 3px solid #ccc;
}
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}
.tree li:only-child {
	padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after {
	border: 0 none;
}

.tree li:last-child::before {
	border-right: 3px solid  #94a0b4;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 3px solid  #94a0b4;
	width: 0;
	height: 20px;
}

.tree li a {
	/* border: 3px solid #94a0b4; */
	padding: 10px 10px 0px 10px;
	display: inline-grid;
	border-radius: 7px;
	transition: .2s;
}
.tree li a img {
	width: 100px;
	height: 100px;
	margin-bottom: 10px !important;
	border-radius: 100px;
	margin: auto;
}
.tree li a span {
	color: #666;
	padding: 15px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
}

#designation{
  text-decoration: underline;
  text-underline-offset: 3px;  
	font-size: 15px;
}

.container-1, .container-2, .container-3, .container-4{  
  width:100vw;
}

h1, h2{
  text-align: center;
}

#container-holder{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fake-space{
  height: 92px;
  width: auto;
}

/*Hover-Section*/ 
.tree li a:hover, .tree li a:hover i, .tree li a:hover+ul li a {
	transition: box-shadow 0.3s ease-in-out;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}
.tree li a+ul li::after, .tree li a+ul li::before, .tree li a+ul::before, .tree li a+ul ul::before {
  transition: box-shadow 0.3s ease-in-out;
}


/* Footer */
footer {
  background-color: #232323;
  color: #ffffff;
  padding: 50px 0 15px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  max-width: 300px;
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-section p {
  margin-bottom: 10px;
}

.social-icons a {
  color: #ffffff;
  font-size: 24px;
  margin-right: 10px;
}

.bottomline {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
}

.bottomline p {
  margin: 0;
}

/* Newsletter Form */
form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

form button {
  background-color: #ffffff;
  color: #232323;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #dddddd;
}



/* department details */

.department-info {
  max-width: 60vw;
  margin: 0 auto;
  padding: 20px;
}

.section {
  margin-bottom: 100px;
  text-align: center;
}

.Vision{
  margin-top: 100px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.staff-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.staff-member {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.name {
  font-weight: bold;
}

.role {
  font-style: italic;
}

.section-aca-staff{
  margin:100px 0;
}

.section-aca-staff h2{
  margin-bottom:-40px;
}

.aca-staff{
  display:flex;
  margin: 80px 0;
}

.aca-staff li{
  margin:auto 0;
} 

.staff{
  height: 150px;
  width: 150px;
  margin:0 50px;

}