*{
    margin:0;
    padding:0;
    text-decoration: none;

}

body{
  /* width: 100vmin; */
  background-color: #c8c8f1;
  overflow-x: hidden;
}
header{
  z-index: 1;
  display: ;
  background-color:#131139;
  position:sticky;
  top:0;
  width:100vw;
  height:12vmin;
}

/* Header */
#spread-header{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1;
  position:sticky;
  width:88vw;
  text-align:right;
  height:12vmin;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding:0 5vw ;
}

.nav-bar{
  color: #ffffff;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;

  /* vertically align hack */
  /* top:50%;
  transform:translateY(-50%); */
  /*  */

  display:flex;
  font-size: 2.5vmin;
  gap: 3vw;
  padding-right:2vw;
  align-items: center;
}
  
.nav-bar a{
    font-weight: 400;
    text-shadow: #000000 0px 0px 5px;
    text-align: right;
    color: #ffffff;
    text-decoration: none;
  }
  
  #home{
    transition-duration: 0.2s;
  }
  
  #academics{
    transition-duration: 0.2s;
  }
  
  #events{
    transition-duration: 0.2s;
  }
  #contact{
    transition-duration: 0.2s;
  }
 .nav-bar #home:hover {
    margin-top: -0.5vh;
    transition-duration: 0.2s;
  }
 .nav-bar #academics:hover {
    margin-top: -0.5vh;
    transition-duration: 0.2s;
  }
 .nav-bar #events:hover {
    margin-top: -0.5vh;
    transition-duration: 0.2s;
  }
 .nav-bar #contact:hover {
    margin-top: -0.5vh;
    transition-duration: 0.2s;
  }
  
  .SOMES_Logo img{
    width:20vmin;
    height:auto;
  }

footer{
  z-index: 1;
  background-color:#232323;
  position:fixed;
  bottom:0;
  width:100vw;
  height:38vh;
}

/* #header{
  display: flex;
} */

.bottomline{
  text-align:center;
  height: 8vh;
  background-color: #000000;
  width: 100vw;
  position:absolute;
  bottom:0;
  z-index:1;
}

.bottomline p{
  margin: auto;
  width: 100vw;
  position:absolute;
  bottom:2.1vh;
  font-size: 2.5vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}



.socials{
  z-index: 1;
  position:sticky;
  width:100vw;
  height:5vh;
  align-items: center;
}


#footer-socials{
  position: relative;
  text-align: center;
}

#yt{
  font-size: 4.3vmin;
}

#footer-socials a{
  color:white;
  padding: 1vw 1vw;
  font-size:4vmin;
}

.footer-bar{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1;
  position:relative;
  width:100vw;
  height:15vh;
  padding-top:3%;
}

#footer-bar p{
  color:#ffffff;
  font-size:2.5vmin;
  margin:0;
}

#footer-bar{
  text-align: center;
  color: #ffffff;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display:flex;
  font-size: 2.1vmin;
  gap: 15vw;
  justify-content: center;
}

#footer-bar div{
  width:15vw;
  /* text-wrap: wrap; */
}

#footer-bar div p{
  display:flexbox;
  position:relative;
  
  width:15vw;
  word-break:break-all;
}


#uppercase-p{
  text-transform:uppercase;
  padding-bottom: 10px;
}