*{
    margin:0;
    padding:0;
    text-decoration: none;
}

body{
  background-color: #c8c8f1;
}
header{
  z-index: 1;
  background-color:#e15036;
  position:sticky;
  top:0;
  width:100vw;
  height:10vh;
}

/* #header{
  display: flex;
} */

/* Header */
#nav-bar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform:uppercase;
    list-style: none;
    display:flex;
    position:fixed;
    flex-wrap:wrap;
    gap:3vw;
    margin-top:4vh;
    right:3vw;
    font-size: 2vmin;
    letter-spacing: 2px;
  }
  
  a{
    font-weight: 300;
    text-shadow: #000000 0px 0px 5px;
    text-align: right;
    color: #ffffff;
    text-decoration: none;
  }
  
  #about{
    transition-duration: 0.2s;
  }
  
  #academics{
    transition-duration: 0.2s;
  }
  
  #events{
    transition-duration: 0.2s;
  }
  #contact{
    transition-duration: 0.2s;
  }
  #nav-bar #about:hover {
    margin-top: -0.5vh;
    transition-duration: 0.2s;
  }
  #nav-bar #academics:hover {
    margin-top: -0.5vh;
    transition-duration: 0.2s;
  }
  #nav-bar #events:hover {
    margin-top: -0.5vh;
    transition-duration: 0.2s;
  }
  #nav-bar #contact:hover {
    margin-top: -0.5vh;
    transition-duration: 0.2s;
  }

/*   .nav-bar-logo {
    width: 50px;
    height: 50px;
    vertical-align: middle;
  } */

  /* Slideshow */
  .slider{
    margin:5vh auto;
    display: flex;
  }
   
  .img-box img{
    height: 60vmin;
    width: auto;
  }
  
  .btn{
    font-size: 50px;
    color:rgba(0, 0, 0, 0.2);
    background-color:rgba(0, 0, 0, 0); 
    transition-duration: 0.2s;
    cursor: pointer;	
    border: none;
    margin:auto;
    padding:20vh 10vw;
  }

  /* News Cards */
  .news-cards{    
    display: flex;
    flex-wrap: wrap;
    width:80vw;
    margin:0 auto;
  }
  #news-card-1{
    width: 35vw;
    height: 30vh;
    background: rgba(255, 255, 255, 0.2);
    margin:2.5vh auto;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition-duration: 0.2s;
    /* border: 1px solid rgba(255, 255, 255, 1); */
  }

  #news-card-2{
    width: 35vw;
    margin:2.5vh auto;
    height: 30vh;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* border: 1px solid rgba(255, 255, 255, 1); */
    transition-duration: 0.2s;
  }
  #news-card-3{
    margin:2.5vh auto;
    width: 35vw;
    height: 30vh;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* border: 1px solid rgba(255, 255, 255, 1); */
    transition-duration: 0.2s;
  }

  #news-card-4{
    width: 35vw;
    height: 30vh;
    background: rgba(255, 255, 255, 0.2);
    margin:2.5vh auto;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* border: 1px solid rgba(255, 255, 255, 1); */
    transition-duration: 0.2s;
  }
  #news-card-5{
    width: 35vw;
    margin:2.5vh auto;
    height: 30vh;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* border: 1px solid rgba(255, 255, 255, 1); */
    transition-duration: 0.2s;
  }
  #news-card-6{
    margin:2.5vh auto;
    width: 35vw;
    height: 30vh;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    transition-duration: 0.2s;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* border: 1px solid rgba(255, 255, 255, 1); */
  }


#news-card-1:hover{
  transform:scale(0.98);
  transition-duration: 0.2s;
  background: rgba(255, 255, 255, 0.6);
}

#news-card-2:hover{
  transform:scale(0.98);
  transition-duration: 0.2s;
  background: rgba(255, 255, 255, 0.6);
}

#news-card-3:hover{
  transform:scale(0.98);
  transition-duration: 0.2s;
  background: rgba(255, 255, 255, 0.6);
}

#news-card-4:hover{
  transform:scale(0.98);
  transition-duration: 0.2s;
  background: rgba(255, 255, 255, 0.6);
}

#news-card-5:hover{
  transform:scale(0.98);
  transition-duration: 0.2s;
  background: rgba(255, 255, 255, 0.6);
}

#news-card-6:hover{
  transform:scale(0.98);
  transition-duration: 0.2s;
  background: rgba(255, 255, 255, 0.6);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
  margin:0;
}

footer{
    position:fixed;
    bottom:0;
}


.footer-distributed{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 5vmin;
}

.footer-distributed .footer-left,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 50%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  rgb(241, 148, 19);
}

/* Footer links */

.footer-distributed .footer-company-name{
  color:  #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 45%;
}

.footer-distributed .footer-right i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 18px;
  width: 28px;
  height:28px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  /* margin: 10px 15px; */
  vertical-align: middle;
}

.footer-distributed .footer-right i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-right p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-right p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-right p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

#Footer bottom

.footer-distributed .footer-bottom{
  width: 100%;
  align-self: center;
  margin-bottom:0;
  padding-bottom: 0;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
  text-align: center;
  letter-spacing: 20px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 5px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-bottom: 5px;
}

.footer-bottom p{
    text-align: center;
    margin-bottom: 0;
    padding: 0;
}
